:root {
  --link-color: #212121;
  --accent-color: #2196f3;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms linear;
  box-sizing: border-box;
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: #000000;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  line-height: 14px;
  display: block;
  margin-bottom: 4px;
}

.modal-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-field {
  margin-bottom: 10px;
}

.comment-field {
  margin-bottom: 20px;
}

/* .modal-field:last-child {
  margin-bottom: 20px;
} */
.input-wrap {
  position: relative;
  display: flex;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus, .modal-input:hover {
  border: 1px solid var(--accent-color);
}
.modal-input:focus + .input-icon, .modal-input:hover + .input-icon {
  fill: var(--accent-color);
}

.modal-text-area {
  display: block;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  resize: none;
  padding-left: 12px;
  padding-top: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text-area:hover, .modal-text-area:focus {
  border: 1px solid var(--accent-color);
}

.privacy-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

.check-text a {
  color: var(--accent-color);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.check-icon {
  fill: transparent;
}
.input-check:checked + .check-text .check-icon {
  fill: #ffffff;
}

/* ///////////////////////before////////////////////// */
/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
} */
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  margin: 0 auto;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.send-icon {
  margin-left: 10px;
  fill: #ffffff;
}

.header {
  position: relative;
  padding: 24px 0px;
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.nav {
  display: flex;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.nav__logo {
  margin-right: 93px;
}

.header-logo-blue {
  color: #2196f3;
  font-family: "Raleway";
}

.menu__item {
  margin-left: auto;
  padding: 8px 0px;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu {
  display: flex;
}

.menu__link,
.contacts__email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link {
  position: relative;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.header__active {
  color: var(--accent-color);
}
.header__active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -34px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  padding: 8px 0px;
}

.contacts__header {
  margin-left: 305px;
}

.contacts__list {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 30px;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts__icon .contacts-list, .contacts__icon:hover,
.contacts__icon .contacts-list, .contacts__icon:focus {
  fill: var(--accent-color);
}

.contacts__phone,
.contacts__email {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__phone:hover, .contacts__phone:focus,
.contacts__email:hover,
.contacts__email:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-photo.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto;
  font-size: 26px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero__button {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}

.about {
  padding-top: 0px;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.pic-list {
  display: flex;
}

.pic-lis__item {
  position: relative;
}
.pic-lis__item:not(:first-child) {
  margin-left: 30px;
}

.pic-lis__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  position: absolute;
  text-transform: uppercase;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  background: #f5f4fa;
  padding: 94px 0px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
}

.team-list-pics {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-pics:not(:first-child) {
  margin-left: 30px;
}

.team-list {
  display: flex;
}

.team-list-pics {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-pics:not(:first-child) {
  margin-left: 30px;
}

.team-list-title {
  padding: 30px 0px;
}

.team-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.team-soc-item:first-child {
  margin-left: 0;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: #2196f3;
}

.team-soc-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

.clients {
  padding: 94px 0px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-list-link {
  width: 170px;
  height: 92px;
  box-sizing: border-box;
}
.clients-list-link:not(:last-child) {
  margin-right: 30px;
}

.clients-icon-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon-link:hover, .clients-icon-link:focus {
  border-color: var(--accent-color);
}
.clients-icon-link:hover .clients-icon, .clients-icon-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  min-width: 611px;
}

.navi-button-list:not(:first-child) {
  margin-left: 8px;
}

.navi-button {
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi-button:hover, .navi-button:focus {
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background: #2196f3;
}

.second-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.hero {
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-photo.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto;
  font-size: 26px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero__button {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}

.footer-adress:hover,
.footer-adress:focus {
  color: var(--accent-color);
}

.footer-email:focus,
.footer-email:hover {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer {
  background-color: #2f303a;
  padding: 50px 0px;
}

.footer-boxes {
  display: flex;
  align-items: baseline;
}

.footer-comunic {
  margin-right: 70px;
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: gray;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join {
  margin-right: 93px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196f3;
}

.footer-soc-link:hover .team-soc-icon,
.footer-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-mailing {
  margin-left: auto;
}

.footer-form {
  display: flex;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
  background-color: transparent;
  color: #ffffff;
  margin-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border-color: var(--accent-color);
}

.examples-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.examples-wrap {
  position: relative;
  overflow: hidden;
}

.examples-list {
  box-sizing: border-box;
  width: 370px;
  background: #ffffff;
}

.examples-list-text {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  overflow: auto;
  padding: 0 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-link:hover .examples-list-text {
  transform: translateY(0);
}

.examples-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-link:hover, .examples-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.examples-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  text-decoration: none;
}

.benefits-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.benefits-list {
  display: flex;
}

.benefits-list__item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}

.benefits-list__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-list__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */