.header {
  position: relative;
  padding: 24px 0px;
  border: 1px solid #ececec;
}

.nav {
  display: flex;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.nav__logo {
  margin-right: 93px;
}

.header-logo-blue {
  color: #2196f3;
  font-family: "Raleway";
}

.menu__item {
  margin-left: auto;
  padding: 8px 0px;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu {
  display: none;
}

.menu__link,
.contacts__email {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link {
  position: relative;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__active {
  color: var(--accent-color);
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -34px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.contacts {
  padding: 8px 0px;
  display: none;
}

.contacts__header {
  margin-left: 305px;
}

.contacts__list {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 30px;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  .contacts-list,
  &:hover,
  .contacts-list,
  &:focus {
    fill: var(--accent-color);
  }
}

.contacts__phone,
.contacts__email {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-open-btn {
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  z-index: 2;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  //   padding: 48px 40px;
  //   max-width: 100%;
  //
}

.header-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.menu-close-btn {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 15px;
  display: block;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.icon {
}
.mobile-open {
}
.mob-menu__list {
  margin-bottom: 302px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.header__active {
}
.mob-menu__contacts {
}
.mob-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
.mob-menu__icon {
}
.mob-menu__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu__contacts-list:not(:last-child) {
  margin-bottom: 32px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  gap: 10px;
}

.social__item:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.social__item {
}
.social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
