.hero {
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-photo.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 118px 0;
  // box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

// .hero {
//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 118px 0;

//   text-align: center;

//   background-color: $hero-footer-bg-color;
//   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url(../images/hero.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;

.hero__title {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  // margin: 0 auto 30px;
  margin: auto;
  font-size: 26px;
  display: flex;
  justify-content: center;
  text-align: center;
}

// .hero__title {
//   max-width: 360px;
//   margin: auto;
//   color: $white-color;
//   font-weight: 900;
//   font-size: 26px;
//   line-height: 1.36;
//   text-transform: uppercase;
//   letter-spacing: 0.06em;
//   text-align: center;

//   @media screen and (min-width: 1200px) {
//     max-width: 696px;
//     margin: auto;
//     font-size: 44px;
//   }

.hero__button {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}
